body {
	font-family: "microsoft yahei" !important;
}

#company-news li {
	padding: 6px 10px;
	width: 100%;
}

#company-news li:after {
	height: 0;
}

#company-news li a {
	white-space: normal;
}

#index-footer address {
	margin-top: 50px;
	font-style: normal;
	text-align: center;
	width: 100%;
}

header.title {
	background-color: #fff;
	font-size: 20px;
	color: #0F51B2;
	text-align: center;
	height: 43px;
	line-height: 43px;
}

.mui-off-canvas-left .mui-scroll-wrapper {
	background-color: #0F51B2;
}

.mui-off-canvas-left .mui-table-view-cell {
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: #0F51B2;
}

.mui-off-canvas-left .mui-table-view:after {
	height: 0;
}

.mui-off-canvas-left .mui-table-view-cell:after {
	height: 0px !important;
}

.mui-off-canvas-left .mui-active,
.menu-active {
	color: #0F51B2;
	background-color: #fff !important;
}

.model-img {
	width: 100%;
}

#company-service .service-img-item {
	position: relative;
	width: 100%;
	height: 30vw;
}

#company-service .service-img {
	position: absolute;
	width: 100%;
	opacity: 0.5;
	height: 30vw;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

#company-service .servie-text {
	text-align: center;
	
	padding: 5px 10px;
	background-color: rgba(000,000,000, 0.7);
	height: 30vw;
	
}
#company-service .servie-text p {
	color: #ffffff;
	font-size: 12px;
}

/* 必需 */



#join-us h1, #contact-us h1 {
	color: #1e9c95;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}
#join-us section {
	border-top: 1px solid #d9d9d9;
	margin: 0 10px;
}
#join-us section p {
	font-size: 14px;
	color: #000;
}
#join-us h4 {
	margin-top: 10px;
}

#contact-us {
	text-align: center;
}
#contact-us ul li{
	list-style: none;
	text-align: left;
}
#news-detail h3, #case-detail h3 {
	color: #1e9c95;
	margin-top: 10px;
}
#news-detail span {
	margin-right: 25px;
}
#news-detail article, #case-detail article {
	margin: 0 10px;
}
#news-detail .key, #case-detail .custom {
	margin: 50px 0;
	color: #000000;
}


/* .fade-enter 定义进入的开始状态 */


/* .fade-leave 定义离开的结束状态 */

.fade-transition {
	transition: all .2s linear;
	opacity: 1;
}
.fade-enter,
.fade-leave {
	opacity: 0;
}