<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>

		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />

	</head>

	<body>

		<div class="mui-off-canvas-wrap mui-draggable">
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">
				<!-- 菜单容器 -->
				<aside class="mui-off-canvas-left">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<header class="title">
								融信科技
							</header>
							<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
								<li class="mui-table-view-cell menu-active">
									官方首页

								</li>
								<li class="mui-table-view-cell">
									关于融信

								</li>
								<li class="mui-table-view-cell">
									新闻中心

								</li>
								<li class="mui-table-view-cell">
									公司服务

								</li>
								<li class="mui-table-view-cell">
									典型案例

								</li>
								<li class="mui-table-view-cell">
									人才招聘

								</li>
								<li class="mui-table-view-cell">
									联系我们

								</li>
							</ul>
						</div>
					</div>
				</aside>
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav" id="header">
					<a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
					<h1 class="mui-title">{{h1Text}}</h1>
				</header>
				<!-- 主页面内容容器 -->
				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<main v-show="show" transition="fade">
							<!-- 轮播图组件 -->
							<div class="mui-slider" id="main-slider">
								<div class="mui-slider-group mui-slider-loop">
									<div class="mui-slider-item mui-slider-item-duplicate">
										<a href="#"><img v-bind:src="sliderImgs[2].Image_Url" /></a>
									</div>
									<div class="mui-slider-item" v-for="img in sliderImgs">
										<a href="#"><img v-bind:src="img.Image_Url" /></a>
									</div>

									<div class="mui-slider-item mui-slider-item-duplicate">
										<a href="#"><img v-bind:src="sliderImgs[0].Image_Url" /></a>
									</div>
								</div>
							</div>

							<!-- 卡片组件 -->
							<div class="mui-card">
								<!--页眉，放置标题-->
								<div class="mui-card-header">
									<h2>目标、宗旨、价值观</h2>

								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<p>速度 安心 专业</p>
									<p>务实创新 勇往直前 持之以恒</p>
									<p>为用户创造价值，通过树立品牌形象以多样化、差异化领先行业</p>
								</div>
								<!--页脚，放置补充信息或支持的操作-->
								<div class="mui-card-footer">
									团结协作、不断改进、追求一流
								</div>
							</div>

							<!--资质荣誉展示区-->
							<div class="mui-card" id="company-honor">
								<!--页眉，放置标题-->
								<div class="mui-card-header">
									<h2>资质荣誉</h2>
								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<div class="mui-slider">
										<div class="mui-slider-group mui-slider-loop">

											<div class="mui-slider-item">
												<ul class="mui-table-view mui-grid-view">
													<li class="mui-table-view-cell mui-media mui-col-xs-3" v-for="item in honorImgs[0]">
														<a href="#"><img class="mui-media-object" v-bind:src="item.Image_Url">
															<div class="mui-media-body">{{item.Honor_Name}}</div>
														</a>
													</li>
												</ul>
											</div>

											<div class="mui-slider-item">
												<ul class="mui-table-view mui-grid-view">
													<li class="mui-table-view-cell mui-media mui-col-xs-3" v-for="item in honorImgs[1]">
														<a href="#"><img class="mui-media-object" v-bind:src="item.Image_Url">
															<div class="mui-media-body">{{item.Honor_Name}}</div>
														</a>
													</li>
												</ul>
											</div>

										</div>
									</div>

								</div>
							</div>
							<!-- 新闻动态展示区 -->
							<div class="mui-card" id="company-news">
								<!--页眉，放置标题-->
								<div class="mui-card-header">
									<h2>公司动态</h2>
								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<img src="images/company1.jpg" width="100%" />
								</div>
								<!--页脚，放置补充信息或支持的操作-->
								<div class="mui-card-footer">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell" v-for="item in newsItems">
											<a href="#">{{item.Title}} {{item.Id}}</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- 典型案例 -->
							<div class="mui-card" id="company-cases">
								<!--页眉，放置标题-->
								<div class="mui-card-header">
									<h2>典型案例</h2>
								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<img src="images/company2.jpg" width="100%" />
								</div>
								<!--页脚，放置补充信息或支持的操作-->
								<div class="mui-card-footer">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell" v-for="item in caseItems">
											<a href="#">{{item.Title}} {{item.Id}}</a>
										</li>
									</ul>
								</div>
							</div>

						</main>

						<!--关于我们-->
						<section id="about-us" v-show="show">

							<img src="images/about.jpg" alt="关于我们" class="model-img" />

							<div class="mui-card">
								<!--页眉，放置标题-->
								<div class="mui-card-header mui-card-media" style="height: 35vw;" v-bind:style="{ backgroundImage: 'url(' + companyInfoImg1 + ')' }">

								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<div class="mui-card-content-inner" style="font-size: 12px;">
										<h3>公司简介</h3> {{companyIntroduction}}

									</div>

								</div>

							</div>
							<div class="mui-card">
								<!--页眉，放置标题-->
								<div class="mui-card-header mui-card-media" style="height: 35vw;" v-bind:style="{ backgroundImage: 'url(' + companyInfoImg2 + ')' }">

								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<div class="mui-card-content-inner" style="font-size: 12px;">
										<h3>{{companyCulture[0]}}</h3> {{companyCulture[1]}}

									</div>

								</div>

							</div>
						</section>
						<!-- 新闻中心 -->
						<section id="news-center" v-show="show">
							<img src="images/news.jpg" class="model-img" />
							<div class="mui-card">

								<!--内容区-->
								<div class="mui-card-content">
									<div class="mui-card-content-inner" style="font-size: 12px;">
										<ul class="mui-table-view">
											<li class="mui-table-view-cell" v-for="item in newsInfo">
												<a href="#">{{item.Title}} {{item.Id}}</a>
											</li>
										</ul>
									</div>

								</div>

							</div>

						</section>
						<section id="index-footer">
							<!--合作伙伴-->
							<div class="mui-card" id="company-partners">
								<!--页眉，放置标题-->
								<div class="mui-card-header">
									<h2>合作伙伴</h2>
								</div>
								<!--内容区-->
								<div class="mui-card-content">
									<div class="mui-slider">
										<div class="mui-slider-group mui-slider-loop">
											<div class="mui-slider-item mui-slider-item-duplicate">
												<ul class="mui-table-view mui-grid-view">
													<li class="mui-table-view-cell mui-media mui-col-xs-4" v-for="item in partnerItems[2]">
														<a href="#"><img class="mui-media-object" v-bind:src="item.Logo_Url">

														</a>
													</li>
												</ul>
											</div>
											<div class="mui-slider-item" v-for="items in partnerItems">
												<ul class="mui-table-view mui-grid-view">
													<li class="mui-table-view-cell mui-media mui-col-xs-4" v-for="item in items">
														<a href="#"><img class="mui-media-object" v-bind:src="item.Logo_Url">

														</a>
													</li>
												</ul>
											</div>
											<div class="mui-slider-item mui-slider-item-duplicate">
												<ul class="mui-table-view mui-grid-view">
													<li class="mui-table-view-cell mui-media mui-col-xs-4" v-for="item in partnerItems[0]">
														<a href="#"><img class="mui-media-object" v-bind:src="item.Logo_Url">

														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<address>
					            	<p>{{footerInfo.address}}</p>
					            	<p>{{footerInfo.fax}}</p>
				        		</address>

						</section>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>

		<script src="js/mui.min.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>